@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "display";
  src: url("./assets/fonts/Chronicle_Display_Roman.woff2");
  /* display: swap; */
}
@font-face {
  font-family: "optimaNova";
  src: url("./assets/fonts/OptimaNovaLTProLight.woff2");
}

@layer base {
  body,
  * {
    @apply font-optimaNova;
  }
  :root {
    --primary: #20462f;
    --primary-foreground: 0 0% 98%;

    --secondary: #707070;
    --secondary-foreground: 0 0% 9%;

    --goldy: #897358;
  }
}

/* scrollbar start */
/* width */
::-webkit-scrollbar {
  width: 0.65em;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f8f2ea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #051f10;
}
/* scrollbar end */

/* Flashing */
.flashing:hover div img {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* Flashing End*/
